.all_anons_divs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.center{
    max-width: 1100px;
    margin: 0 auto;
}
.anons{
    max-width: 251px;

}
.main_txt_center{
    padding-top: 140px;
    margin-bottom: 95px;
    font-size: 22px;
    font-weight: 400;
}
.anons p{
    background:rgba(24, 24, 24, 1);
    color: white;
    padding-left: 20px;
    padding-top: 20px;

}
.anons p:last-child{
    padding-bottom:30px;
}
.btn2{
    border: 1px solid rgba(24, 24, 24, 1);
    border-radius: 40px;
    font-size: 24px;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    color: rgba(24, 24, 24, 1);
    cursor: pointer;
}
.bottom_center_all{
    background-image: url(../images/center_bottom.png);
    
}
.bottom_center{
    max-width: 1100px;
    margin: 0 auto;
    height: 833px;
}
.year{
    padding-top: 174px;
    font-size: 75px;
    font-weight: 400;
    color: rgba(24, 24, 24, 1);
}
.lorem{
    color: rgba(24, 24, 24, 1);
    padding-bottom: 90px;
    width: 914px;
}
.wrapper_bottom_center{
    background: rgba(0,0,1,.411);;
}